body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 3.5;
  color: #250918;
  background-color: #f7deeb;
}

img {
  width: 200px;
}

ul {
  list-style: none;
}

.recipe-list {
  background-color: #4e2d4d;
  color: #f7deeb;
}

.recipe-list a:link {
  color: #f7deeb;
}
.recipe-list a:visited {
  color: #f7deeb1b;
}
.recipe-card {
  width: 400px;
  background-color: #fffafa;
  text-align: center;
}

.recipe-content {
  text-align: left;
}

.recipe-card h2,
.recipe-card a {
  text-transform: uppercase;
}

ul li h2 {
  font-size: 16px;
  padding: 0rem;
}

.recipe-card.feature {
  border: 2px solid darkred;
}

.recipe-card a {
  background-color: #fc9400;
  color: #fff;
  text-decoration: auto;
}
