html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 3.5;
  color: #250918;
  background-color: #f7deeb;
}

.content-wrapper {
  padding: 8px;
}

img {
  width: 200px;
}

ul {
  list-style: none;
}

.recipe-list {
  background-color: #4e2d4d;
  color: #f7deeb;
}

.recipe-list a:link {
  color: #f7deeb;
}
.recipe-list a:visited {
  color: #f7deeb1b;
}
.recipe-card {
  width: 400px;
  background-color: #fffafa;
  text-align: center;
}

.recipe-content {
  text-align: left;
}

ul li h2 {
  font-size: 16px;
  padding: 0rem;
}
